<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Baidu Hui BE</title>

    <link rel="stylesheet" href="/src/css/app.css">

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="panel panel-default baoliaodetail">
          <div class="panel-heading">
            <h4 class="caption">晒单分享</h4>
            <div class="close">&times;</div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2">
                <span class="pull-right">标题:</span>
              </div>
              <div class="col-md-10">
                <input type="text" class="col-md-12">
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <span class="pull-right">晒单类型:</span>
              </div>
              <div class="col-md-10">
                <input type="text" value="单篇">
                <span>晒单人:</span>
                <label>angle</label>
                <span>晒单时间:</span>
                <input type="text" value="12:23 2013/12/12">    
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <span class="pull-right">晒单分类:</span>
              </div>
              <div class="col-md-10">
                <select class="col-md-2">
                  <option>母婴用品</option>
                </select>
                <select class="col-md-2">
                  <option>母婴服饰</option>
                </select>
                <select class="col-md-2">
                  <option>童鞋</option>
                </select>
                <select class="col-md-2">
                  <option>童鞋</option>
                </select>
              </div>
          </div>
          
          <div class="row">
            <div class="col-md-2">
              <span class="pull-right">图片:</span>
            </div>
            <div class="col-md-10">
              
              <div class="pictures pull-right"> 
                <div class="picture">
                  <div class="pic-wrapper">
                    <img src="/src/images/product.jpg" alt="" class="img-thumbnail">  
                  </div>
                  <div class="delete">删除</div>
                </div>
                <div class="picture">
                  <div class="pic-wrapper">
                    <img src="/src/images/product.jpg" alt="" class="img-thumbnail">  
                  </div>
                  <div class="delete">删除</div>
                </div>
                <div class="picture">
                  <div class="pic-wrapper">
                    <img src="/src/images/product.jpg" alt="" class="img-thumbnail">  
                  </div>
                  <div class="delete">删除</div>
                </div>
                <div class="picture">
                 <div class="pic-wrapper last">
                   <a href="" class="upload">点击上传</a>
                 </div>
                 <div class="delete"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <span>晒单内容：</span>
            </div>
            <div class="col-md-10">
              <textarea class="comment comment-tuijian" name="" id="" cols="30" rows="10">文字＋超连＋图片＋视频</textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <span>相关备注：</span>
            </div>
            <div class="col-md-10">
              <textarea class="comment comment-beizhu" name="" id="" cols="30" rows="10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque odio dolore tenetur excepturi sunt, suscipit officia iste harum nobis ab animi veritatis ad alias iusto totam, atque soluta, temporibus accusantium.</textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <span>操作记录：</span>
            </div>
            <div class="col-md-10">
              <textarea class="comment comment-caozuojilu" name="" id="" cols="30" rows="10">移交分配给审核员01，小编09 2013/12／23 12:22
              已认领 小编02 2014/12/13
              </textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="operations center-block">
                <button class="btn btn-alert btn-md">内容预览</button>
                <button class="btn btn-alert btn-md">通过</button>
                <button class="btn btn-alert btn-md">拒绝</button>
                <button class="btn btn-alert btn-md">废弃</button>
                <button class="btn btn-alert btn-md">移交分配</button>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>