<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Baidu Hui BE</title>

    <link rel="stylesheet" href="/src/css/app.css">

    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
    $(function(){
      $('div.baoliao-info').hide();
      $('div.btn-receive-info').click(function(){
        $('div.baoliao-info').show({duration: 500});
      })
    });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="panel panel-default xiaobianzibao">
          <div class="panel-heading">
            <h4 class="caption">小内自爆</h4>
            <div class="close">&times;</div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2">
                <span class="pull-right">优惠链接:</span>
              </div>
              <div class="col-md-10">
                <input type="text" class="col-md-11" value="http://www.amazon.cn/dp/B00LLYPDGU?t=joyo01y-23&tag=joyo">
                <div class="btn btn-primary btn-xs pull-right btn-receive-info">信息获取</div>
              </div>
            </div>
            <div class="baoliao-info">
                <div class="row">
                  <div class="col-md-2">
                    <span class="pull-right">标题:</span>
                  </div>
                  <div class="col-md-10">
                    <div class="field">
                      <input type="text" value="Fisher Price小狗跑学习桌">
                    </div>
                    <div class="field">
                      <span>副标题:</span>
                      <input type="text" value="原价300现价280包邮">
                    </div>
                    <div class="field">
                      <span>商家来源:</span>
                      <input type="text" value="亚马逊">      
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <span class="pull-right">原价:</span>
                  </div>
                  <div class="col-md-10 price-row">
                    <input type="text" value="300" disabled="disabled" class="txt70 disabled">
                    <label for="">元</label>
                    <span>现价:</span>
                    <input type="text" value="280" class="txt70">
                    <label for="">元</label>
                    <span>商家来源</span>
                    <input type="text" value="亚马逊">
                    <span>价格曲线</span>
                    <div class="jiagequxian"></div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <span class="pull-right">商品分类：</span>
                </div>
                <div class="col-md-10">
                  <select name="" id="">
                    <option>母婴用品</option>
                    <option>其他用品</option>
                  </select>
                  <select name="" id="">
                    <option>玩具乐器</option>
                    <option>其他</option>
                  </select>
                  <select name="" id="">
                    <option>母婴用品</option>
                    <option>其他用品</option>
                  </select>
                  <select name="" id="">
                    <option>玩具乐器</option>
                    <option>其他</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <span class="pull-right">图片：</span>
                </div>
                <div class="col-md-10">
                  
                  <div class="pictures"> 
                    <div class="picture">
                      <div class="pic-wrapper">
                        <img src="/src/images/product.jpg" alt="" class="img-thumbnail">  
                      </div>
                      <div class="delete">删除</div>
                    </div>
                    <div class="picture">
                      <div class="pic-wrapper">
                        <img src="/src/images/product.jpg" alt="" class="img-thumbnail">  
                      </div>
                      <div class="delete">删除</div>
                    </div>
                    <div class="picture">
                      <div class="pic-wrapper">
                        <img src="/src/images/product.jpg" alt="" class="img-thumbnail">  
                      </div>
                      <div class="delete">删除</div>
                    </div>
                    <div class="picture">
                     <div class="pic-wrapper last">
                       <a href="" class="upload">点击上传</a>
                     </div>
                     <div class="delete"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          <div class="row">
            <div class="col-md-2">
              <span>爆料性质：</span>
            </div>
            <div class="col-md-10">
              <div class="field">
                <select name="" id="">
                  <option>单商品</option>
                </select>  
              </div>
              <div class="field">
                <span>发布频道</span>
                <select name="" id="">
                  <option>优惠频道</option>
                </select>  
              </div>
              <div class="field">
                <span>爆料人</span>
                <select name="" id="">
                  <option>小编01</option>
                </select>  
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <span>推荐理由：</span>
            </div>
            <div class="col-md-10">
              <textarea class="comment comment-tuijian" name="" id="" cols="30" rows="10">文字＋超连＋图片＋视频</textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <span>操作记录：</span>
            </div>
            <div class="col-md-10">
              <textarea class="comment comment-beizhu" name="" id="" cols="30" rows="10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque odio dolore tenetur excepturi sunt, suscipit officia iste harum nobis ab animi veritatis ad alias iusto totam, atque soluta, temporibus accusantium.</textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <span>相关备注：</span>
            </div>
            <div class="col-md-10">
              <textarea class="comment comment-beizhu" name="" id="" cols="30" rows="10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque odio dolore tenetur excepturi sunt, suscipit officia iste harum nobis ab animi veritatis ad alias iusto totam, atque soluta, temporibus accusantium.</textarea>
            </div>
          </div>
          
          
          <div class="row">
            <div class="col-md-12">
              <div class="operations center-block">
                <button class="btn btn-alert btn-md">内容预览</button>
                <button class="btn btn-alert btn-md">保存</button>
                <button class="btn btn-alert btn-md">取消</button>
                <button class="btn btn-alert btn-md">发布</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>