.container .active-page {
  background-color: #eee;
}
.batch-actions {
  margin: 10px 0;
}
.caption {
  display: inline;
}
.search-creteria {
  height: 50px;
  padding-left: 5px;
  vertical-align: middle;
  border: 1px dotted #eee;
  border-radius: 5px;
  background-color: #ffe;
}
.search-creteria .field {
  margin: 0 25px 0 0;
  float: left;
  padding: 10px 0;
}
.operations {
  font-size: 6px;
  cursor: pointer;
}
.jiagequxian {
  width: 60px;
  height: 60px;
  border: 1px solid red;
  display: inline-block;
}
table .actions div {
  padding-bottom: 2px;
}
table .actions span {
  font-size: small;
  color: #bbe;
  cursor: pointer;
  text-decoration: underline;
}
.shortcut ul {
  list-style: none;
}
.shortcut ul li {
  float: left;
  margin-right: 10px;
}
.shortcut ul li a:hover {
  background: blue;
}
.shortcut:after {
  clear: both;
  content: '';
  display: table;
}
.header {
  padding: 3px;
  border-radius: 3px;
  border: 2px dotted #EEE;
}
table.baoliao {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}
table.baoliao th,
table.baoliao td {
  text-align: center;
  border: 1px solid;
}
.search {
  border: 1px dotted #eee;
  height: 40px;
  vertical-align: bottom;
}
.sector {
  float: left;
}
.controls {
  margin: 10px 0;
}
.baoliao-search-creteria {
  height: 50px;
  padding-left: 5px;
  vertical-align: middle;
  border: 1px dotted #eee;
  border-radius: 5px;
  background-color: #ffe;
}
.baoliao-search-creteria .biaoti {
  width: 120px;
}
.baoliao-search-creteria .sector {
  padding: 11px 0 10px 0;
}
.baoliaodetail {
  width: 1000px;
}
.baoliaodetail .caption {
  display: inline;
}
.baoliaodetail .row {
  margin: 10px 0;
}
.baoliaodetail .youhui-link {
  width: 500px;
}
.baoliaodetail .adminlink {
  cursor: pointer;
  text-decoration: underline;
}
.baoliaodetail .reporter {
  text-decoration: underline;
}
.baoliaodetail .chart {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.baoliaodetail .suggest-category {
  border: 1px dashed #FFEEFF;
  background-color: #EEE;
  border-radius: 5px;
  vertical-align: bottom;
  height: 40px;
  line-height: 40px;
  margin: 5px 0;
}
.baoliaodetail .product-category {
  height: 40px;
  line-height: 40px;
}
.baoliaodetail .pictures {
  position: relative;
}
.baoliaodetail .pictures .picture {
  padding: 2px;
  margin: 3px;
  float: left;
}
.baoliaodetail .pictures .picture .delete {
  text-align: center;
  height: 20px;
}
.baoliaodetail .pictures .picture .pic-wrapper {
  height: 136px;
  width: 200px;
  position: relative;
  text-align: center;
  line-height: 136px;
}
.baoliaodetail .pictures .last {
  background: #FFA;
  line-height: 185px;
}
.baoliaodetail .comment {
  width: 100%;
}
.baoliaodetail .comment-tuijian {
  height: 200px;
}
.baoliaodetail .comment-beizhu {
  height: 90px;
}
.baoliaodetail .comment-caozuojilu {
  height: 90px;
  background: #EEE;
}
.baoliaodetail .comment-reject {
  height: 90px;
}
.baoliaodetail .warning {
  color: red;
}
.baoliaodetail .operations {
  width: 600px;
}
.baoliaodetail .operations button {
  margin: 0 5px;
  width: 100px;
}
.xiaobianzibao {
  width: 1000px;
}
.xiaobianzibao .row {
  margin: 15px 0;
}
.xiaobianzibao .pictures {
  position: relative;
}
.xiaobianzibao .pictures .picture {
  float: left;
  width: 25%;
  height: 156px;
  text-align: center;
}
.xiaobianzibao .pictures .picture .delete {
  cursor: pointer;
  text-decoration: underline;
}
.xiaobianzibao .pictures .last {
  height: 136px;
  background: #ffa;
  line-height: 156px;
}
.xiaobianzibao .field {
  float: left;
  margin-right: 20px;
}
.xiaobianzibao .baoliao-info {
  /*
        border: 1px dotted #aaa;
        border-radius: 5px;
        */
}
.xiaobianzibao .comment-tuijian {
  width: 100%;
  height: 180px;
}
.xiaobianzibao .comment-beizhu {
  width: 100%;
  height: 60px;
}
.xiaobianzibao .operations {
  width: 500px;
}
.xiaobianzibao .operations button {
  width: 120px;
}
.xiaobianzibao .disabled {
  background-color: #eee;
}
.xiaobianzibao .price-row {
  height: 80px;
  position: relative;
}
.xiaobianzibao .jiagequxian {
  float: right;
  width: 129px;
  height: 90px;
}
.xiaobianzibao .txt70 {
  width: 70px;
}
