<div class="search-creteria">
  <div class="input-area"></div>
  <submit class="btn btn-primary btn-xs query">查询</submit>
  <!--
  <div class="field">
    <label>标题</label>
    <input type="text" class="biaoti" name="title">
  </div>
  <div class="field">
    <label>品类</label>
    <select name="category">
      <option>单品</option>
      <option>多品</option>
    </select>
  </div>
  <div class="field">
    <label>状态</label>
    <select name="status">
      <option>已分配</option>
      <option>待分配</option>
    </select>
  </div>
  <div class="field">
    <label>商家来源</label>
    <select name="source">
      <option>京东商城</option>
      <option>亚马逊</option>
    </select>
  </div>
  <div class="field">
    <submit class="btn btn-primary btn-xs query">查询</submit>
  </div>
  -->
</div>