
  <div class="col-md-2 sector">
    <label>标题</label>
    <input type="text" class="biaoti">
  </div>
  <div class="col-md-2 sector">
    <label>品类</label>
    <select>
      <option>单品</option>
      <option>多品</option>
    </select>
  </div>
  <div class="col-md-2 sector">
    <label>状态</label>
    <select>
      <option>已分配</option>
      <option>待分配</option>
    </select>
  </div>
  <div class="col-md-2 sector">
    <label>商家来源</label>
    <select>
      <option>京东商城</option>
      <option>亚马逊</option>
    </select>
  </div>
  <div class="sector">
    <submit class="btn btn-primary btn-xs">查询</submit>
  </div>